.index {
    background-color: #ffffff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .index .overlap-wrapper {
    background-color: #ffffff;
    height: 919px;
    width: 1440px;
  }
  
  .index .overlap {
    height: 883px;
    position: relative;
  }
  
  .index .the-interior-has-a {
    background-color: #03c75a;
    height: 512px;
    left: 0;
    position: absolute;
    top: 0;
    width: 1440px;
  }
  
  .index .element {
    height: 73px;
    left: 18px;
    position: absolute;
    top: 24px;
    width: 249px;
  }
  
  .index .overlap-group {
    background-color: #13954c;
    border-radius: 30px;
    height: 60px;
    left: 0;
    position: absolute;
    top: 0;
    width: 60px;
  }
  
  .index .icon-leaf {
    height: 40px;
    left: 14px;
    position: absolute;
    top: 7px;
    width: 32px;
  }
  
  .index .ECO-CONNECT {
    color: #ffffff;
    font-family: "Alata", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 66px;
    letter-spacing: 0;
    line-height: 25px;
    position: absolute;
    top: 4px;
    width: 181px;
  }
  
  .index .group {
    height: 741px;
    left: 828px;
    position: absolute;
    top: 142px;
    width: 543px;
  }
  
  .index .div {
    background-color: #ffffff;
    border-radius: 40px;
    box-shadow: 0px 4px 35px #00000014;
    height: 741px;
    position: relative;
    width: 539px;
  }
  
  .index .medium-narrow-kr {
    background-color: #FEE500;
    border-radius: 6px;
    height: 45px;
    left: 65px;
    position: absolute;
    top: 601px;
    width: 184px;
  }
  
  .index .text-wrapper {
    color: #000000;
    font-family: "Apple SD Gothic Neo-SemiBold", Helvetica;
    font-size: 15px;
    font-weight: 600;
    height: 15px;
    left: 60px;
    letter-spacing: 0;
    line-height: 15px;
    position: absolute;
    top: 15px;
    white-space: nowrap;
  }
  
  .index .image {
    height: 18px;
    left: 14px;
    position: absolute;
    top: 14px;
    width: 18px;
  }
  
  .index .green-kr {
    background-color: #03C75A;
    border-radius: 4px;
    height: 45px;
    left: 302px;
    position: absolute;
    top: 601px;
    width: 184px;
  }
  
  .index .img {
    height: 13px;
    left: 32px;
    position: absolute;
    top: 16px;
    width: 15px;
  }
  
  .index .text-wrapper-2 {
    color: #ffffff;
    font-family: "Apple SD Gothic Neo-Medium", Helvetica;
    font-size: 15px;
    font-weight: 600;
    height: 15px;
    left: 60px;
    letter-spacing: 0;
    line-height: 15px;
    position: absolute;
    top: 15px;
    white-space: nowrap;
  }
  
  .index .overlap-2 {
    height: 116px;
    left: 44px;
    position: absolute;
    top: 44px;
    width: 476px;
  }
  
  .index .group-2 {
    height: 46px;
    left: 0;
    position: absolute;
    top: 0;
    width: 476px;
  }
  
  .index .welcome-to-econnect {
    color: transparent;
    font-family: "Poppins", Helvetica;
    font-size: 21px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .index .span {
    color: #000000;
  }
  
  .index .text-wrapper-3 {
    color: #03c75a;
  }
  
  .index .p {
    color: transparent;
    font-family: "Poppins", Helvetica;
    font-size: 13px;
    font-weight: 400;
    left: 366px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 6px;
  }
  
  .index .text-wrapper-4 {
    color: #8d8d8d;
  }
  
  .index .text-wrapper-5 {
    color: #0089ec;
  }
  
  .index .text-wrapper-6 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 55px;
    font-weight: 500;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 33px;
  }
  
  .index .group-3 {
    height: 92px;
    left: 51px;
    position: absolute;
    top: 211px;
    width: 451px;
  }
  
  .index .text-wrapper-7 {
    color: #000000;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: -3px;
  }
  
  .index .div-wrapper {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #4285f4;
    border-radius: 9px;
    height: 57px;
    left: 0;
    position: absolute;
    top: 35px;
    width: 451px;
  }
  
  .index .text-wrapper-8 {
    color: #7f7f7f;
    font-family: "Poppins", Helvetica;
    font-size: 14px;
    font-weight: 300;
    left: 24px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 17px;
    width: 302px;
  }
  
  .index .group-4 {
    height: 92px;
    left: 51px;
    position: absolute;
    top: 341px;
    width: 451px;
  }
  
  .index .overlap-3 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #adadad;
    border-radius: 9px;
    height: 57px;
    left: 0;
    position: absolute;
    top: 35px;
    width: 451px;
  }
  
  .index .text-wrapper-9 {
    color: #4285f4;
    font-family: "Poppins", Helvetica;
    font-size: 13px;
    font-weight: 400;
    left: 394px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 445px;
  }
  
  .index .overlap-group-wrapper {
    height: 54px;
    left: 51px;
    position: absolute;
    top: 509px;
    width: 453px;
  }
  
  .index .overlap-4 {
    background-color: #03c75a;
    border-radius: 10px;
    box-shadow: 0px 4px 19px #7793414c;
    height: 54px;
    position: relative;
    width: 451px;
  }
  
  .index .text-wrapper-10 {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 16px;
    font-weight: 500;
    left: 198px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 15px;
    width: 56px;
  }
  
  .index .group-5 {
    height: 224px;
    left: 73px;
    position: absolute;
    top: 150px;
    width: 398px;
  }
  
  .index .group-6 {
    height: 87px;
    left: 0;
    position: absolute;
    top: 0;
    width: 400px;
  }
  
  .index .text-wrapper-11 {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 34px;
    font-weight: 600;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 0;
  }
  
  .index .text-wrapper-12 {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 0;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 51px;
    width: 396px;
  }
  
  .index .lorem-ipsum-is {
    color: #ffffff;
    font-family: "Poppins", Helvetica;
    font-size: 13px;
    font-weight: 300;
    left: 2px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 109px;
    width: 311px;
  }
  
  .index .pngegg {
    height: 462px;
    left: 386px;
    object-fit: cover;
    position: absolute;
    top: 24px;
    width: 442px;
  }
  