.sidebar {
	min-width: 250px;
	max-width: 250px;
	background: #03c75a;
	color: #ffffff;
	height: 1000px;
	
  }

.sidebar .nav-link {
	color: white;
}

  
  
  .sidebar-header {
	background: #13954C;
	color: #ffffff;
  }
  
  .sidebar-header h3{
	color: #ffffff;
	padding: 1em;
  }
  
  .sidebar ul p {
	color: #ffffff;
	padding: 10px;
  }
  
  .collapse.show, 
  .collapsing {
	background: #03c75a;
  }
  
  .nav-item {
	/*color: #ced4da;*/
	color: #ffffff;
	font-weight: 300;
  }
  
  .nav-item.open {
	color: #ffffff;
	background: #13954C;
  }
  
  .nav-item.active {
	color: #ffffff;
	background: #13954C !important;

  }
  
  .nav-item:hover {
	background: #13954C;
	color: #ffffff;
	transition: .2s;
  }
  
  .nav-item .svg-inline--fa {
	color: inherit;
  }
  
  li a.dropdown-toggle::after {
	display: inline-flex;
	position: relative;
	left: 60%;
	top: 10%
  }
  
  .sidebar-header > button {
	position: relative;
	float: right;
	margin: .5em;
	font-size: 2rem;
	cursor: pointer;
	display: none;
  }
  
  